.todo-list-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  background-color: #f3f4f6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-list-heading {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
}

.empty-message {
  text-align: center;
  color: #888;
  font-style: italic;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list-item {
  margin-bottom: 10px;
}
